@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
  font-family: 'Montserrat', sans-serif;
}

*{
border: 0px;
margin: 0px;
box-sizing: border-box;
}

*:after, *:before {
box-sizing: inherit;
}

nav{
height: 80px;
width: 100%;
display: flex;
justify-content: space-between;
}

.btn {
border: none;
width: 4.44rem;
height: 3rem;
padding: 8px;
border-radius: 40px;
background-color: white;
}

.item-img {
width: 15.79rem;
height: auto;
object-fit: cover;

}

.barra-busqueda {
height: 45px;
display: flex;
flex-direction: row;
position: fixed;

}
      
.barra-busqueda input {
height: 40px;
width: 45vw;
position: fixed;
}

.search {
height: 2rem;
border-radius: 25px;
box-shadow: 2rem;
position: fixed;
}
          
.search-button {
  height: 2rem;
position: fixed;
}


          .contenedor-imagen {
            padding: 0.4rem;
            max-width: auto;
            display: grid;
            grid-auto-flow: dense;
            gap: 0.4rem;
            columns: 4;
          }

          .card {
            width: 236px;
            height: 450px;
            border-radius: 15px;
            margin: 2rem;
          }
          
          .item-img {
            border-radius: inherit;
            width: 100%;
            height: 100%;
            object-fit: cover;
            columns: 4;  
          }




main{
  animation:cubic-bezier(0.165, 0.84, 0.44, 1);
      animation:normal;
      animation-duration: 5s;
      animation-name: slidein;
    }
    
    @keyframes slidein {
      from {
        margin-left: 100%;
        width: 300%
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      }
    }
